<div>
    <mat-card class="card-header">
        <h2>
            <span class="remove-text">Remove</span>
            <span class="background-text">Background</span>
        </h2>
    </mat-card>
    <div class="card-container">
        <mat-card class="rounded-card">
            <mat-card-content class="card-content">
                <div>
                    <h2>Upload an Image to remove the background</h2>
                </div>
                <div class="ulpoad-button">
                    <mat-card class="upload-card">
                        <mat-card-content class="ulpoad-card-content">
                            <input class="form-control" type="file" (change)="onChange($event)">
                            <button mat-flat-button  (click)="onUpload()"
                                class="btn btn-success rounded-button">
                                Upload Image
                            </button>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>

        </mat-card>
        <div *ngIf="showAnimation">
            <ng-lottie [options]="options"></ng-lottie>    
        </div>
       
        <!-- <ngx-ui-loader></ngx-ui-loader> -->
        <div *ngIf="showResponse" class="image-text-container">
            <div class="original-img">
                <h3>Original Image</h3>
                <img src="{{ Original_Image }}" alt="Original Image" style="width: 400px;">
            </div>
            <div class="image-set">
                <h3>Background Removed Image</h3>
                 
                <img  [src]="Image" alt="Bg Removed Image" style="width: 400px;">
            </div>
        </div>




       
        <button *ngIf="showResponse"  mat-flat-button  (click)="downloadImage()">Download Image</button>

      

    </div>